@import url("./components/css/global.css");
@import url("./components/css/variables.css");

@import url("./components/css/navbar.css");
@import url("./components/css/footer.css");
/* photobooth */
@import url("./components/css/media.css");
@import url("./components/css/photobooth.css");
/* card services */
@import url("./components/css/card.css");
/* homepage */
@import url("./components/css/hero.css");
@import url("./components/css/about.css");
