<div class="service-section">
  <div class="card">
    <div class="card__media">
      <img
        src="/assets/images/플레이인더박스 공식계정(@playinthebox_official) • Instagram 사진 및 동영상.jpg"
        alt="Produk"
      />
    </div>

    <div class="card__body">
      <h3 class="card__title">Paket Menikah</h3>
      <p class="card__desc">
        <br />
        100 Foto Cetak <br />
      </p>
      <a href="#" class="btn">Beli Sekarang</a>
    </div>
  </div>
  <div class="card">
    <div class="card__media">
      <img
        src="/assets/images/Snapshot妞拍貼｜韓式拍貼機（@snapshot_tw）• Instagram 相片與影片 (1).jpg"
        alt="Produk"
      />
    </div>

    <div class="card__body">
      <h3 class="card__title">Paket Gen Z</h3>
      <p class="card__desc">
        <br />
        10 Foto Cetak <br />
      </p>
      <a href="#" class="btn">Beli Sekarang</a>
    </div>
  </div>
  <div class="card">
    <div class="card__media">
      <img src="/assets/images/download (3).jpg" alt="Produk" />
    </div>

    <div class="card__body">
      <h3 class="card__title">Paket Gen Z</h3>
      <p class="card__desc">
        <br />
        10 Foto Cetak <br />
      </p>
      <a href="#" class="btn">Beli Sekarang</a>
    </div>
  </div>
  <div class="card">
    <div class="card__media">
      <img src="/assets/images/1.jpg" alt="Produk" />
    </div>

    <div class="card__body">
      <h3 class="card__title">Paket Gen Z</h3>
      <p class="card__desc">
        <br />
        10 Foto Cetak <br />
      </p>
      <a href="#" class="btn">Beli Sekarang</a>
    </div>
  </div>
  <div class="card">
    <div class="card__media">
      <img
        src="/assets/images/Snapshot妞拍貼｜韓式拍貼機（@snapshot_tw）• Instagram 相片與影片.jpg"
        alt="Produk"
      />
    </div>

    <div class="card__body">
      <h3 class="card__title">Paket Gen Z</h3>
      <p class="card__desc">
        <br />
        10 Foto Cetak <br />
      </p>
      <a href="#" class="btn">Beli Sekarang</a>
    </div>
  </div>
  <div class="card">
    <div class="card__media">
      <img
        src="https://images.unsplash.com/photo-1545239351-1141bd82e8a6?q=80&w=1200&auto=format&fit=crop"
        alt="Produk"
      />
    </div>

    <div class="card__body">
      <h3 class="card__title">Paket Gen Z</h3>
      <p class="card__desc">
        <br />
        10 Foto Cetak <br />
      </p>
      <a href="#" class="btn">Beli Sekarang</a>
    </div>
  </div>
  <div class="card">
    <div class="card__media">
      <img
        src="https://images.unsplash.com/photo-1545239351-1141bd82e8a6?q=80&w=1200&auto=format&fit=crop"
        alt="Produk"
      />
    </div>

    <div class="card__body">
      <h3 class="card__title">Paket Gen Z</h3>
      <p class="card__desc">
        <br />
        10 Foto Cetak <br />
      </p>
      <a href="#" class="btn">Beli Sekarang</a>
    </div>
  </div>
  <div class="card">
    <div class="card__media">
      <img
        src="https://images.unsplash.com/photo-1545239351-1141bd82e8a6?q=80&w=1200&auto=format&fit=crop"
        alt="Produk"
      />
    </div>

    <div class="card__body">
      <h3 class="card__title">Paket Gen Z</h3>
      <p class="card__desc">
        <br />
        10 Foto Cetak <br />
      </p>
      <a href="#" class="btn">Beli Sekarang</a>
    </div>
  </div>
</div>
