<section class="hero">
  <div class="hero-wrapper">
    <!-- Hero Image -->
    <div class="hero-image">
      <img src="/assets/images/hero.png" alt="Photobooth Illustration" />
    </div>

    <!-- Hero Content -->
    <div class="hero-content">
      <div class="title">
        <h1>Photobooth untuk momen yang ingin kamu simpan</h1>
      </div>
      <p class="hero-sub">
        Bukan sekadar foto, tapi pengalaman seru yang bisa dinikmati bareng
        orang terdekat.
      </p>

      <!-- <ul class="hero-list">
        <li>Foto jernih & lighting rapi</li>
        <li>Cocok untuk event & pesta</li>
        <li>Hasil cepat & siap dibagikan</li>
      </ul> -->

      <div class="hero-cta">
        <a href="/photobooth.html" class="btn-satu">Coba Photobooth</a>
        <a href="/services.html" class="btn-dua">Lihat Layanan</a>
      </div>
    </div>
  </div>
</section>
