/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(39, 39, 39);
  padding: 70px 0 10px 0;
}
.content {
  margin: 10px;
  background-color: #ffffff;
  border-radius: 20px;
}
