.hero {
  display: flex;
  flex-direction: column;
  padding: 0;
  background: #e5e5e5;
  border-radius: 20px 20px 0 0;
  color: #000;
}

.hero-wrapper {
  display: flex;
  align-items: start;
  gap: 60px;
}

.hero-image img {
  max-width: 650px;
  padding: 40px 80px 0 0;
  width: 100%;
}

.hero-content {
  padding: 20px 12px 0 0;
  justify-content: center;
}

.title h1 {
  color: #ffff;
  align-items: center;
}
.title {
  justify-content: center;
  padding: 15px;
  border-radius: 20px;
  background-color: #1dc9d6;
}
.hero-list {
  list-style: none;
}
.hero-sub {
  color: #fff;
  background-color: #1dc9d6;
  padding: 10px;
  border-radius: 10px;
  font-size: bold;
}

.hero-content {
  justify-items: center;
}
.hero-cta {
  padding-bottom: 20px;
}
.btn-satu {
  background-color: #1dc9d6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
}
.btn-dua {
  /* background-color: #fff; */
  color: #1dc9d6;
  padding: 10px 20px;
  border: 2px solid #1dc9d6;
  border-radius: 5px;
  text-decoration: none;
}
/* Responsive */
@media (max-width: 768px) {
  .hero-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .hero-cta {
    justify-content: center;
  }
}
